/* styling for page 7 and all */
body {
  background-color:#91355E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.navbar {
  background-color: #CF85A6;
  justify-content: center;
  text-align: right;
  font-family: Tahoma, sans-serif;
}

  .navbar-item {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

.text-box {
  background-color: #CF85A6;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  text-align:left;
}
  .text-box p {
      font-family: Tahoma, sans-serif;
  }

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle-frame {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px;
}

.circle-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bio-box {
  width: 150px;
  padding: 10px;
  text-align: center;
  margin: 30px;
  border-radius: 10px;
  font-family: Tahoma, sans-serif;
  color: rgb(230, 209, 226);
}

/* styling for page 1 and all */

.flexbox-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.image-container {
position: relative;
justify-content: center;
padding:10px;
margin: 10px;
width: 300px; 
height: 300px; 
}

.image-container img {
max-width: 100%;
border-radius:10px;
height: auto;
box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
}

.image-container1 {
  position: relative;
  justify-content: center;
  margin: 10px;
  width: 300px; 
  height: 300px; 
  }

  .image-container1 img {
    max-width: 100%;
    height: auto;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    }

.image-container1:hover .overlay {
opacity: .92;
}

.image-container1:hover img {
box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
}

.image-container2 {
position: relative;
justify-content: center;
margin: 10px;
width: 620px; 
height: 300px; 
}

.image-container2 img {
max-width: 100%;
height: auto;
box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
}

.image-container2:hover .overlay {
opacity: .92;
}

.image-container2:hover img {
box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
}

.overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 90%; 
height: 90%; 
background: #CF85A6;
opacity: 0;
transition: opacity 0s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
color: rgb(3, 3, 3);
}

h5 {
text-align: center;
font-size: 30px;
}

/* contact button */
#contactButton {
  background-color: #91355E; 
  color: #FF6EC7; 
  border-radius: 25px; 
  padding: 10px 20px; 
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

#contactButton:hover {
  background-color: #FF6EC7;
  color: #FFFFFF; 
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); 
}

