body {
    background-color:#91355E;
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Nav bar formatting */
.navbar {
  background-color: #CF85A6;
  justify-content: center;
  text-align: right;
}

/* Add spacing between the boxes */
.box {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Override Bootstrap's default spacing */
.row {
    margin: 10px -10px;
    display: flex;
}

/* Responsive image styling */
.img-fluid {
    max-width: 100%;
    height: auto;
}

  .flexbox-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-container1 {
    position: relative;
    justify-content: center;
    margin: 10px;
    width: 300px; 
    height: 300px; 
  }

    .image-container1 img {
      max-width: 100%;
      height: auto;
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    }

    .image-container1:hover .overlay {
      opacity: .92;
    }

    .image-container1:hover img {
      box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
    }

  .image-container2 {
    position: relative;
    justify-content: center;
    margin: 10px;
    width: 620px; 
    height: 300px; 
  }

    .image-container2 img {
      max-width: 100%;
      height: auto;
      box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
    }

    .image-container2:hover .overlay {
      opacity: .92;
    }

    .image-container2:hover img {
      box-shadow: 15px 15px 16px rgba(0, 0, 0, 0.2);
    }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    height: 90%; 
    background: #CF85A6;
    opacity: 0;
    transition: opacity 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(3, 3, 3);
  }

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.text-box {
    background-color: #CF85A6;
    border: 1px solid #ff9999;
    border-radius: 0;
    padding: 20px;
    margin: 20px;
    text-align: left;
}

.image-and-text {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}

.image-and-text img {
    margin-right: 20px;
}

.button-box {
    background-color: #CF85A6;
    border: 1px solid #ff69b4;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.button-box button {
    background-color: #974e6f;
    color: #debfcd;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}



h5 {
text-align: center;
font-size: 30px;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

